.wrap {
    width: 100%;
    display: flex;
    background-image: linear-gradient(#570059 0%, #212121 51%);
}

.left {
    width: 72%;
    position: relative;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 50px;
    bottom: 0;
    background: #fff;

}

.left__inner {
    display: flex;
}

#aside {
    width: 28%;
    background: #ccc;
    float: right;
}