#popular {
    padding-left: 50px;
    align-items: center;
}

#popular h2 {
    color: #fff;
    margin-bottom: 30px;
}

.movie__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie__card {
    background: #181818;
    padding: 1vw 1.5vw;
    width: 18.5%;
    border-radius: 5px;
}

.movie__card:hover {
    transform: scale(1.1);
    box-shadow: 0px 41px 40px -20px rgba(0, 0, 0, 0.829);
    transition: all 0.7s;
}

.movie__card .image__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 1vw;
    width: 100%;
    height: auto;
}

.movie__card .image__inner img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.movie__card .movie__title {
    color: #fff;
    font-size: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie__card .movie__year {
    color: #B3B3B3;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}